Beginner's

1. Basic Syntax
2. Variable Types
3. Basic Operators
4. Decision Making
5. Loops
6. Number
7. String
8. Lists
9. Tuples
10. Dictionary
11. Date and Time
12. Functions
13. Modules
14. File I/O
15. Exceptions

In [1]:
print("Test")
a = 'string'
b = 1
c = 1.5

print(a,type(a))
print(b,type(b))
print(c,type(c))
print('----------------------')
print('----convert to str----')
print('----------------------')
b = str(b)
c = str(c)
print(b, type(b))
print(c, type(b))
print('----------------------')
print('----convert to int----')
print('----------------------')
b = int(b)
print(b, type(b))
print('----------------------')
print('----convert to flt----')
print('----------------------')
c = float(c)
print(c, type(c))

Test
string <class 'str'>
1 <class 'int'>
1.5 <class 'float'>
----------------------
----convert to str----
----------------------
1 <class 'str'>
1.5 <class 'str'>
----------------------
----convert to int----
----------------------
1 <class 'int'>
----------------------
----convert to flt----
----------------------
1.5 <class 'float'>

In [2]:
a = 5
print("a = ",a)
a = 'lima'
print("a = ",a)

a =  5
a =  lima

In [3]:
# hastag simbol untuk memberi komentar
"""
Blok komentar
"""

'\nBlok komentar\n'

In [4]:
nilaiMasuk = input("masukan nilai : ")
print('nilai yang anda masukan adalah ',nilaiMasuk)

masukan nilai : 70
nilai yang anda masukan adalah  70

In [5]:
#Operasi Aritmatika, pangkat dan modulus

a = 7
b = 8

print('a = ',a)
print('b = ',b)
print()
print('a + b = ',a+b) #penjumlahan
print('a - b = ',a-b) #pengurangan
print('a * b = ',a*b) #Perkalia
print('a / b = ',a/b) #pembagian
print('a % b = ',a%b) #modulus (sisa bagi)
print('a **b = ',a**b)#pangkat

a =  7
b =  8

a + b =  15
a - b =  -1
a * b =  56
a / b =  0.875
a % b =  7
a **b =  5764801

In [6]:
a = 80

x = a%2

if x == 0:
    print('nilai ',a,' adalah bilangan genap')
    print('tipe variabel a = ',type(a))
    print('nilai '+str(a)+' adalah bilangan genap')
    print('tipe variabel a = ',type(a))
else:
    print('nilai ',a,' adalah bilangan ganjil')
    print('tipe variabel a = ',type(a))
    print('nilai '+str(a)+' adalah bilangan ganjil')
    print('tipe variabel a = ',type(a))

nilai  80  adalah bilangan genap
tipe variabel a =  <class 'int'>
nilai 80 adalah bilangan genap
tipe variabel a =  <class 'int'>

In [7]:
x = 'abc'

for ulang in x :
    print(ulang)

a
b
c

In [8]:
x = ' love you so much'

for n in range (5) :
    print(n,x)

0  love you so much
1  love you so much
2  love you so much
3  love you so much
4  love you so much

In [9]:
n = 0
while n <= 4:
    print(n,x)
    n+=1
    print('hasil dari n+=1 adalah',n)
    print()

0  love you so much
hasil dari n+=1 adalah 1

1  love you so much
hasil dari n+=1 adalah 2

2  love you so much
hasil dari n+=1 adalah 3

3  love you so much
hasil dari n+=1 adalah 4

4  love you so much
hasil dari n+=1 adalah 5

In [10]:
n = int (input ("masukan nilai : "))
arr = []
for _ in range (n):
    x = str (input("masukan kalimat : "))
    arr.append(x)

masukan nilai : 5
masukan kalimat : aku
masukan kalimat : sayang
masukan kalimat : kamu
masukan kalimat : selalu
masukan kalimat : semoga kamu sehat selalu

In [11]:
print (*arr)
print(arr)

aku sayang kamu selalu semoga kamu sehat selalu
['aku', 'sayang', 'kamu', 'selalu', 'semoga kamu sehat selalu']

In [12]:
#List
#List dibuat dengan tanda [ ]
clist = ['data 1', 'data 2', 'data 3', 'buku', 'pensil']

#Tuples
#Tuples dibuat dengan tanda ( ), perbedaan dengan list Tuple tidak bisa diedit setelah dibuat

ctuples = ('data 1', 2, 'fisika', 'data 1')

#Dictionary
#Dictionary dibbuat dengan koleksi pasangan item item berasosiasi, satu key satu value
dict = {'Nama': 'Zahra', 'Umur': 21, 'Posisi': 'Back End'}

print(clist)
print(ctuples)
print(dict)

['data 1', 'data 2', 'data 3', 'buku', 'pensil']
('data 1', 2, 'fisika', 'data 1')
{'Nama': 'Zahra', 'Umur': 21, 'Posisi': 'Back End'}

In [14]:
listA = ['teks 1', 'teks 2', 1999, 2000]
listB = [1, 2, 3, 4, 5, 6, 7]

print(listA)
for x in listA:
    print(x)
print()
print(listB)
for x in listB:
    print(x)

['teks 1', 'teks 2', 1999, 2000]
teks 1
teks 2
1999
2000

[1, 2, 3, 4, 5, 6, 7]
1
2
3
4
5
6
7

In [15]:
print(listA)
print(len(listA))
print(listA[0])
print(listA[1])
print(listA[2])
print(listA[3])

['teks 1', 'teks 2', 1999, 2000]
4
teks 1
teks 2
1999
2000

In [17]:
del listA[0]
print(listA)
listA.append(2003)
print(listA)

[1999, 2000, 2003]
[1999, 2000, 2003, 2003]

In [18]:
n = listA .count(2000)
print("Hitung banyak data 2000 : ",n)

Hitung banyak data 2000 :  1

In [19]:
listA.extend(listB)
print('data listA dan listB digabung menjadi : ', listA)

data listA dan listB digabung menjadi :  [1999, 2000, 2003, 2003, 1, 2, 3, 4, 5, 6, 7]

In [27]:
print(listA)
print('cari posisi index data teks 2 : ',listA.index('teks 2'))
"""
pada contoh ini kita mencari letak index data 'teks 2'
karena data tidak ada pada index maka yang muncul ketika program dijalankan terlihat seperti di bawah ini

muncul pesan error:

ValueError : 'teks 2' is not in list
"""

[7, 6, 5, 4, 3, 2, 1, 2003, 2003, 2000, 'Data Baru', 1999]

ValueError: 'teks 2' is not in list

In [28]:
"""
Untuk error handling atau penanganan error kita bisa pakai exception sederhana dengan format

try:
    pernyataan / perintah
except:
    respon
    
apabila perintah atau pernyataan tidak dapat dikerjakan tidak akan muncul error program karena sudah ditangani
oleh exception
"""


print('cari posisi index data 1999 : ',listA.index(1999))
try:
    print('cari posisi index data hahaha : ',listA.index('hahaha'))
except:
    print('data tidak ditemukan') #JIka data tidak ditemukan maka akan muncul sesuai pesan yang telah dibuat

cari posisi index data 1999 :  11
data tidak ditemukan

In [22]:
print(listA)
listA.insert(1, 'Data Baru')
print('Hasil akhir : ', listA)

[1999, 2000, 2003, 2003, 1, 2, 3, 4, 5, 6, 7]
Hasil akhir :  [1999, 'Data Baru', 2000, 2003, 2003, 1, 2, 3, 4, 5, 6, 7]

In [23]:
listA.reverse()
print('Data setelah dibalik urutannya : ', listA)

Data setelah dibalik urutannya :  [7, 6, 5, 4, 3, 2, 1, 2003, 2003, 2000, 'Data Baru', 1999]

In [24]:
data = {'Nama':'A', 'Umur':18}
print(data)
print('data["Nama"]:', data['Nama'])
print('data["Umur"]:', data['Umur'])

{'Nama': 'A', 'Umur': 18}
data["Nama"]: A
data["Umur"]: 18

In [25]:
def F1():
    print('contoh fungsi tanpa parameter')

def F2(x):
    print('contoh fungsi dengan paramater x = ',x)

F1()
F2('TEST')

contoh fungsi tanpa parameter
contoh fungsi dengan paramater x =  TEST